sanic==22.6.2
scipy
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.13.0
torchvision
git+https://github.com/huggingface/diffusers.git@30f6f44
transformers
accelerate
ftfy
python-dotenv
